<div class="dispatch-form" id="dispatch-<%= workflowId %>">
  <form
    hx-post="/dispatch/<%= owner %>/<%= repo %>/<%= workflowId %>"
    hx-target="#dispatch-<%= workflowId %>"
    hx-swap="outerHTML"
  >
    <h4>Run <%= workflowName %></h4>

    <div class="form-field">
      <label for="ref-<%= workflowId %>">Branch / tag</label>
      <input
        type="text"
        id="ref-<%= workflowId %>"
        name="ref"
        value="<%= defaultBranch %>"
      >
    </div>

    <% for (const input of inputs) { %>
      <div class="form-field">
        <label for="input-<%= workflowId %>-<%= input.name %>">
          <%= input.name %>
          <% if (input.required) { %><span class="required" aria-hidden="true">*</span><% } %>
        </label>

        <% if (input.type === 'choice') { %>
          <select
            id="input-<%= workflowId %>-<%= input.name %>"
            name="<%= input.name %>"
            <%= input.required ? 'aria-required="true" required' : '' %>
          >
            <% for (const opt of input.options) { %>
              <option value="<%= opt %>" <%= opt === input.default ? 'selected' : '' %>><%= opt %></option>
            <% } %>
          </select>

        <% } else if (input.type === 'boolean') { %>
          <input
            type="checkbox"
            id="input-<%= workflowId %>-<%= input.name %>"
            name="<%= input.name %>"
            value="true"
            <%= input.default === 'true' ? 'checked' : '' %>
          >

        <% } else { %>
          <input
            type="text"
            id="input-<%= workflowId %>-<%= input.name %>"
            name="<%= input.name %>"
            value="<%= input.default %>"
            <%= input.required ? 'aria-required="true" required' : '' %>
          >
        <% } %>

        <% if (input.description) { %>
          <small
            id="desc-<%= workflowId %>-<%= input.name %>"
            class="field-help"
          ><%= input.description %></small>
        <% } %>
      </div>
    <% } %>

    <div class="form-actions">
      <button type="submit" class="btn btn-primary">Run workflow</button>
      <button type="button" class="btn" onclick="this.closest('.dispatch-form').remove()">Cancel</button>
    </div>
  </form>
</div>
